@font-face {
  font-family: "poppins";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

/* First Navbar */

.site-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.site-header .header_2 ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.site-header .header_1 img {
  width: 70px;
  margin: 10px 0 10px 70px;
}

.header_3 {
  margin: 40px 70px 0 0;
}

.header_3 a {
  text-decoration: none;
  padding: 5px 30px;
  border: 1px solid black;
  color: black;
  border-radius: 6px;
  background: #3b82f6;
}

.header_2 {
  padding-top: 35px;
}

.header_2 ul a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.header_2 a:hover {
  color: #3b82f6;
  border-bottom: solid 2px #3b82f6;
}

.site-main {
  height: 570px;
}

.header-logo {
  display: flex;
  padding: 10px 50px;
  gap: 10px;
  align-items: center;
}

.header-logo .img img {
  width: 75px;
}

.header-logo .text-logo {
  color: black;
  line-height: 1;
}

.header-logo .inklusi {
  font-size: 35px;
  border-top: 3px solid black;
}

.header-logo .nirwana {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid black;
}

/* last navbar */

/* First konten login & register */
.konten-log {
  max-width: 900px;
}

.container-reg {
  max-width: 450px;
}
.konten-log,
.container-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 45px auto;
  background: white;
  padding: 0;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.25);
}

.konten-log .foto_school-log {
  flex: 1;
}

.konten-log .foto_school-log img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
  display: block;
}
.container-log,
.container-reg {
  display: flex;
  justify-content: center;
  flex: 1;
}

.card-log,
.card-reg {
  background: white;
  width: 400px;
  padding: 40px 50px;
  text-align: center;
}

.container-log .profil img,
.container-reg .profil img {
  width: 100px;
  margin-bottom: 20px;
}

.container-log {
  border-right: 2px solid black;
}

.container-log form,
,
.container-reg form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-log label,
.container-reg label {
  font-size: 20px;
  text-align: start;
}

.container-log .email,
.container-log .pass,
.container-log .username,
.container-reg .email,
.container-reg .pass,
.container-reg .username {
  display: flex;
  flex-direction: column;
}

.container-log input,
.container-reg input {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
  height: 35px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-log .button a,
.container-reg .button a {
  text-decoration: none;
  padding: 5px 50px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: #3b82f6;
}

.container-log .button,
.container-reg .button {
  padding: 15px;
}

.container-log a,
.container-reg a {
  text-decoration: none;
}

/* Last konten login & register */

/* First konten beranda */

.konten-beranda {
  display: flex;
  flex-direction: row;
}

/* Last Konten beranda */


/* footer */
.site-footer p {
  color: #64748b;
  text-align: center;
  font-size: 13px;
  padding: 25px;
  border-top: solid 1px black;
}
