@font-face {
  font-family: "poppins";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

/* First Navbar */

.site-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}

.site-header .header_2 ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.site-header .header_1 img {
  width: 70px;
  margin: 10px 0 10px 70px;
}

.header_3 {
  margin: 40px 70px 0 0;
}

.header_3 a {
  text-decoration: none;
  padding: 5px 30px;
  border: 1px solid black;
  color: black;
  border-radius: 6px;
  background: #3b82f6;
}

.header_2 {
  padding-top: 35px;
}

.header_2 ul a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.header_2 a:hover {
  color: #3b82f6;
  border-bottom: solid 2px #3b82f6;
}

.site-main {
  height: 570px;
}

/* logo */
.header-logo {
  display: flex;
  padding: 10px 50px;
  gap: 10px;
  align-items: center;
}

.header-logo .img img {
  width: 75px;
}

.header-logo .text-logo {
  color: black;
  line-height: 1;
}

.header-logo .inklusi {
  font-size: 35px;
  border-top: 3px solid black;
}

.header-logo .nirwana {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid black;
}

/* header beranda admin */


/* last navbar */

/* First konten login & register */
.konten-log {
  max-width: 900px;
}

.container-reg,
.container-pendaftaran {
  max-width: 450px;
}
.konten-log,
.container-reg,
.container-pendaftaran {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 50px auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.25);
}

.konten-log .foto_school-log {
  flex: 1;
}

.konten-log .foto_school-log img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.container-log,
.container-reg,
.container-pendaftaran {
  display: flex;
  justify-content: center;
  flex: 1;
}

.card-log,
.card-reg,
.card-pendaftaran {
  background: white;
  width: 400px;
  padding: 38px 50px;
  text-align: center;
}

.container-log .profil img,
.container-reg .profil img {
  width: 100px;
  margin-bottom: 20px;
}

.container-log {
  border-right: 2px solid black;
}

.container-log form,
.container-reg form,
.container-pendaftaran form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-log label,
.container-reg label,
.container-pendaftaran label {
  font-size: 20px;
  text-align: start;
}

.container-log .email,
.container-log .pass,
.container-log .username,
.container-reg .email,
.container-reg .pass,
.container-reg .username,
.container-pendaftaran .nama,
.container-pendaftaran .email,
.container-pendaftaran .jurusan-satu,
.container-pendaftaran .jurusan-dua,
.container-pendaftaran .berkas {
  display: flex;
  flex-direction: column;
}

.container-log input,
.container-reg input,
.container-pendaftaran select,
.container-pendaftaran span {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
  height: 35px;
  padding: 10px;
  margin-bottom: 15px;
}

/* pendaftaran */
.container-pendaftaran .profil {
  font-size: 25px;
  margin-bottom: 20px;
}

.container-pendaftaran span {
  text-align: start;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.container-log .button button,
.container-reg .button button,
.container-pendaftaran button {
  text-decoration: none;
  padding: 5px 50px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: #3b82f6;
}

.container-log .button,
.container-reg .button,
.container-pendaftaran .button {
  padding: 15px;
}

.container-log a,
.container-reg a {
  text-decoration: none;
}

/* Last konten login & register */

/* First konten beranda */
/* beranda top */
.konten-beranda .container-top {
  display: flex;
  flex-direction: row;
  gap: 65px;
  margin: 150px auto 50px;
  justify-content: center;
  align-items: center;
}

.container-top .side-left {
  flex: 1;
  max-width: 40%;
}

.container-top .side-left h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

.container-top .side-left p {
  font-size: 18px;
  margin: 15px 0;
  color: #242B36;
}

.container-top .side-left .higlight {
  color: blue;
}

.container-top .side-left a {
  background: #3b82f6;
  padding: 7px 35px;
  border-radius: 50px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.25);
}

.container-top .side-right img {
  width: 500px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 20px 20px 10px rgb(0, 0, 0, 0.35);
  object-fit: contain;
}

/* beranda bot */
.konten-beranda .judul {
  font-size: 55px;
  text-align: center;
}

.konten-beranda .des-judul {
  text-align: center;
  color: #242B36;
}

.konten-beranda .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 30px auto;
}

.konten-beranda .box_1 {
  background: #010817;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 460px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.konten-beranda .box_1:hover {
  transform: translateY(-8px);
  box-shadow: 7px 15px 25px rgb(0, 0, 0, 0.35);
}

.konten-beranda .box_1 h3,
.konten-beranda .box_1 p,
.konten-beranda .box_1 a {
  padding: 10px 30px;
}

.konten-beranda .box_1 h3,
.konten-beranda .box_1 p {
  margin-bottom: 10px;
}

.konten-beranda .box_1 h3 {
  color: #FAEBD7;
}

.konten-beranda .box_1 p {
  color: #B3A795;
  margin-bottom: 55px;
}

.konten-beranda .image-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.konten-beranda .button-bot a {
  text-decoration: none;
  padding: 5px 50px;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  background: #010817;
  display: block;
  margin: 45px auto;
  width: fit-content;
}
/* Last Konten beranda */

/* first status pendaftaran */
.konten-status .container-status {
  max-width: 550px;
  margin: 150px auto 50px;
  border: 1px solid black;
  padding: 38px 50px;
}

.konten-status .judul-status {
  text-align: center;
  font-size: 30px;
  margin: 0 55px;
  margin-bottom: 30px;
  line-height: 1.1;
}

.konten-status .data {
  display: grid;
  grid-template-columns: 120px 5px 1fr;
  gap: 0 10px;
  border-bottom: 2px solid black;
  margin-bottom: 40px;
  font-size: 15px;
}

.konten-status .label,
.konten-status .titik-dua {
  font-weight: bold;
}

.konten-status .status {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/* last status pendaftaran */

/* pendaftaran */

/* beranda admin */
.konten-admin {
  max-width: 1500px;
  margin: 50px auto;
  display: grid;
  gap: 30px;
}

.container-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.container-admin .daftar-jurusan,
.container-admin .daftar-siswa {
  border: 1px solid black;
  padding: 30px;
  text-align: center;
}

.container-admin .daftar-jurusan h3,
.container-admin .daftar-siswa h3,
.konten-admin .judul-jurusan {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.container-admin .daftar-jurusan a,
.container-admin .daftar-siswa a {
  text-decoration: none;
  padding: 7px 55px;
  color: black;
  background: #3b82f6;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black;
}

.konten-admin .tambah-jurusan {
  border: 1px solid black;
  background: white;
  padding: 30px;
}

.konten-admin .tambah-jurusan form {
  gap: 10px;
}

.konten-admin .tambah-jurusan .masukan-jurusan,
.konten-admin .tambah-jurusan .kuota-jurusan,
.konten-admin .tambah-jurusan .desk-jurusan {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.konten-admin .tambah-jurusan label {
  width: 200px;
  font-weight: bold;
  font-size: 17px;
}

.konten-admin .tambah-jurusan input {
  width: 100%;
  padding: 10px;
  height: 33px;
}

.konten-admin .button-jurusan {
  text-align: center;
}

.konten-admin .button-jurusan button {
  padding: 8px 120px;
  border-radius: 10px;
  background: #3b82f6;
  font-weight: bold;
  border: 1px solid black;

}

/* tabel */
.konten-admin .tabel-jurusan table,
.konten-admin .tabel-siswa table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
}

.konten-admin th {
  background: #ddd;
}

.konten-admin tabel,
.konten-admin th,
.konten-admin td {
  border: 1px solid gray;
  padding: 20px;
}

.konten-admin .tabel-jurusan table th:nth-child(1),
.konten-admin .tabel-jurusan table td:nth-child(1),
.konten-admin .tabel-jurusan table th:nth-child(3),
.konten-admin .tabel-jurusan table td:nth-child(3) {
  width: 70px;
}

.konten-admin .tabel-jurusan table th:nth-child(5),
.konten-admin .tabel-jurusan table td:nth-child(5) {
  width: 130px;
}

.konten-admin .btn-aksi {
  display: flex;
  gap: 10px;
  width: 150px;
}

.konten-admin .btn-aksi button {
  flex: 1;
  padding: 5px 0;
  border-radius: 5px;
}

.konten-admin .edit {
  background: #89CFF0;
}

.konten-admin .delete {
  background: #FF5E7E;
}

.konten-admin .tabel-siswa button {
  padding: 5px 57px;
}

/* footer */
.site-footer p {
  color: #64748b;
  text-align: center;
  font-size: 13px;
  padding: 25px;
  border-top: solid 1px black;
}
